<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Goals</a></li>
    <li role="presentation">  <%= link_to "Goals History", staff_fellow_goals_path(@fellow) %></li>
  </ul>
  <%= render partial: '/shared/goals', object: @fellow, as: :user%>
 </div>
