<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" ><%= link_to "Goals", staff_fellow_path(@fellow) %></li>
    <li role="presentation" class="active"><a href="#">Goals History</a></li>
  </ul>
  <%= render partial: '/shared/history', object: @fellow, as: :user%>
</div>
