<h1>WELCOME FELLOWS!</h1>

<%= link_to "Create New Fellow", new_staff_fellow_path, id:"new-fellow-button" %>
<%= link_to "Create New Coach", new_staff_coach_path, id:"new-coach-button" %>
<%= link_to "Create New Staff Member", new_staff_staff_path, id:"new-staff-button" %>
