<h1>Show User</h1>

<p>
  First Name:<%= @user.first_name %>
</p>

<p>
  Last Name:<%= @user.last_name %>
</p>

<p>
  Email: <%= @user.email %>
</p>


<p>
  <h2>Put Todo List here for the Fellow</h2>
</p>
